<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
    a {
      text-decoration: none;
      color: black;
    }
  </style>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  

    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"> {% block head%}{% endblock head %}
  </head>
  <body style="background: #F6EBE7;">
    {% include 'navbar.html' %} {% block content %} {% endblock content %}
    <footer
      class="d-flex"
      style="
      bottom: 0px;
        width: 100vw;
        justify-content: space-around;
        padding: 30px;
         background: #dfdfdf;
      "
    >
      <h1 style="width: 25vw; font-size:30px">Berrie</h1>
      <div style="width: 25vw">
        <p style="padding: 5px">We don't keep our beauty secret.</p> 
        <form>
          <input
            type="text"
            placeholder="you@example.com"
            style="padding: 12px"
          />
          <button>Subscribe</button>
        </form>
      </div>
    </footer>

    {% comment %}
    <script src="jquery-1.11.3.min.js"></script>
    <script src="dcalendar.picker.js"></script>
    <script>
      $("#calendar_datePicker").dcalendarpicker();
      $("#calendar_datePicker_demo").dcalendar();
    </script>
    {% endcomment %}
  </body>
</html>
