{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="m-4 p-4">
<link rel='stylesheet' href="{% static 'css/style.css' %}">
<style>
	li{
		margin-bottom: 10px;
	}
	input{
		padding: 5px;
	}
</style>
<h1 class="text-center" style="font-weight:bolder"> Register </h1>
<div class="row justify-content-around" style="padding: 150px;">
	<form method = "POST">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-primary" role="alert">
					{{ message }}
				</div>
			{% endfor %}

		{% endif %}
		{% csrf_token %}
		<ul class="contactList">
			<li id="subject" class="contact">Username: {{ form.username}}</li>
			<li id="email" class="contact">Password: {{ form.password1 }}</li>
			<li id="message" class="contact">Confirm Password: {{ form.password2 }}</li>
		</ul>
		<!-- {{ form.as_p }} -->

		<input type="submit" class="btn btn-primary">
	</form>
</div>
</section>
{% endblock content %}